@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('//db.onlinewebfonts.com/c/eccb7a74720fc377b60d6b2110530fd9?family=DejaVu+Sans');
@import url('//db.onlinewebfonts.com/c/28f2bcb7049a1e0f3598e59fc74840b5?family=Cooper+BT');
@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
    font-family: "DejaVu Sans";
    src        : url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.eot");
    src        : url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eccb7a74720fc377b60d6b2110530fd9.svg#DejaVu Sans") format("svg");
}

@font-face {
    font-family: "Cooper BT";
    src        : url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.eot");
    src        : url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.woff") format("woff"), url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28f2bcb7049a1e0f3598e59fc74840b5.svg#Cooper BT") format("svg");
}

html {
    scroll-behavior: smooth;
}
.text-center
{
    text-align: center;
}
.text-justify-term
{
    text-align: justify;
    border: 2px solid silver;
    border-radius: 20px;
    padding:20px;
}
.nav3 {
    display: flex;
    padding: 2px;
}

.nav3 div {
    padding: 5px;
}

.menu-button {
    display: none;
}

#nav2 ul {
    list-style : none;
    display    : flex;
    padding    : 7px;
    text-align : center;
    align-items: center;
    font-size  : 5px;
}

#nav2 ul li a {
    font-size      : 12px;
    text-decoration: none;
    color          : black;
    padding        : 10px 20px;
    font-weight    : bold;
    font-family    : 'Poppins';
}

#nav2 ul li a:hover {
    color: #b0a171 !important;
}

#nav2 ul li .about:active {
    color: blue;
}

#cover {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    color                : white;
    text-align           : center;
    height               : 500px;
    width                : 100%;
    background-image     : url("images/bg.png");
    background-repeat    : no-repeat;
    background-position  : center center;
    background-attachment: fixed;
    background-size      : cover;

}

#aboutus_Cover {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    color                : white;
    text-align           : center;
    height               : 500px;
    width                : 100%;
    background-image     : url("images/aboutBg.jpg");
    background-repeat    : no-repeat;
    background-position  : center center;
    background-attachment: fixed;
    background-size      : cover;

}

#contactus_Cover {
    display              : flex;
    justify-content      : center;
    align-items          : center;
    color                : white;
    text-align           : center;
    height               : 500px;
    width                : 100%;
    background-image     : url("images/contactBg.jpg");
    background-repeat    : no-repeat;
    background-position  : center center;
    background-attachment: fixed;
    background-size      : cover;

}

.h1 {
    font-weight: bold;
    font-size  : 76px;
    font-family: "Cooper BT";
}

#divCover {
    width           : 600px;
    border          : 5px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom   : 20px;

}

.btn {
    color           : white;
    background-color: #b0a171;
    margin-bottom   : -25px;
    border          : none;
    padding         : 8px;
    border-radius   : 0;
}

.btn-edit {
    color           : white;
    background-color: #b0a171;
    border          : none;
    padding         : 8px;
    border-radius   : 0;
}
.btn-payment{
    color           : white;
    background-color: #b0a171;
    border          : none;
    padding         : 8px;
    border-radius   : 8px;
}
.btn-payment-1{
    color           : white;
    background-color: green;
    border          : none;
    padding         : 8px;
    border-radius   : 8px;
    float: left;
}
.heading {
    margin-top    : 20px;
    font-weight   : bold;
    font-size     : 16px;
    color         : #b0a171;
    padding-bottom: 2px;
    margin-bottom : -24px;
    font-weight   : bold;
    font-family   : "Cooper BT";

}

.container {
    margin-top: 20px;

}

.h1body {
    font-weight: 5px;
    font-size  : 74px;
    font-weight: bold;
    font-family: "Cooper BT";

}

.btnbody {
    color           : white;
    background-color: #b0a171;
    border-radius   : 0;
    border          : none;
    padding         : 8px;
    margin-bottom   : 15px;
}

#divimg img {
    height: 500px;
    width : 500px;
}

#divimg {
    display  : flex;
    flex-wrap: nowrap;
}

#divimg #img_div {
    height     : 420px;
    margin-top : 39px;
    margin-left: -155px;
}

#productSection {
    margin-top      : 20px;
    background-color: #ebebea;

}

#productHead {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

}

#productHead p {
    width      : 50%;
    font-size  : 12px;
    font-family: 'Poppins';
}

#productBody {
    margin-top: 10px;
    text-align: center;
    color     : #b0a171;
    font-size : 16px;
}

#productBtn {
    border          : 2px solid #b0a171;
    padding         : 9px 26px;
    background-color: #ebebea;
    margin-bottom   : 20px;
}

#CategorySection {
    margin-top      : 20px;
    background-color: white;
    text-align      : center;
}

#CategoryBody {
    margin-top: 10px;
}

#CategoryBody div img {
    width        : 369px;
    height       : 537px;
    margin-bottom: 10px;
}

#CategoryFooter {
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    margin-top     : 100px;
}

#CategoryFooter h4 {
    font-size  : 52px;
    color      : #180d0a;
    font-weight: 300;
    font-family: "Cooper BT";
    text-align : center;
}

#CategoryFooter p {
    width      : 50%;
    font-size  : 12px;
    font-family: 'Poppins';
}

#CategoryEmail {
    margin-top: 5px;
}

#CategoryEmail input {
    outline         : none;
    border          : none;
    padding         : 15px;
    background-color: #f7f5f1;
    width           : 550px;
}

.contact #CategoryEmail input {
    outline         : none;
    border          : none;
    padding         : 15px;
    background-color: #f7f5f1;
    width           : 100%;
}

.contact #CategoryEmail #message {
    width           : 100%;
    height          : 100px;
    outline         : none;
    border          : none;
    padding         : 15px;
    background-color: #f7f5f1;
    resize          : none;
}

#CategoryEmail button {
    margin          : -6px;
    font-size       : 16px;
    color           : white;
    border          : none;
    padding         : 14px 35px;
    background-color: #b0a171;
}

#CategoryEmail .contactbtn {
    margin-left: 2px;
    margin-top : 10px;
}

.pagination {
    display        : flex;
    justify-content: center;
    padding-top    : 20px;
}

.pagination a {
    text-align     : center;
    color          : black;
    float          : left;
    padding        : 8px 16px;
    text-decoration: none;
}

.pagination a:hover {
    color           : white;
    background-color: #b0a171;
    border-radius   : 5px;
}

.shopbody div {
    margin-bottom: 20px;
}

.ShopCategory {
    margin-bottom   : -50px;
    background-color: #ebebeaa6;
}

.ShopCategory .container {
    margin-top: 0;
}

.shopbody div h4 {
    line-height: 20px;
    cursor     : pointer;
}

.productCategory {
    margin-left     : auto;
    margin-right    : auto;
    margin-top      : 20px;
    margin-bottom   : 20px;
    padding         : 10px;
    width           : 50%;
    display         : flex;
    justify-content : center;
    background-color: white;
    border-radius   : 50px;
}

.productCategory a {
    color           : black;
    width           : 50%;
    text-align      : center;
    text-decoration : none;
    margin-right    : 20px;
    padding         : 10px 33px;
    background-color: #ebebeaa6;
    border-radius   : 50px
}

.productCategory #cat3 {
    margin-right: 0;
}

.productCategory a:hover {
    background-color: #b0a171;
    color           : white;

}

.shopfooter {
    margin-top: 0;
}

.menuBody .menuimg img {
    width : 100%;
    height: 500px;

}

#menuslider {
    display        : flex;
    margin-top     : -50px;
    justify-content: center;
    align-items    : center;
}

#menuslider img {
    border       : 5px solid white;
    margin-right : 5px;
    margin-bottom: -20px;
    width        : 70px;


}

.menubodysideheading {
    display: flex;
}

.menubodysideheading h4 {
    font-size   : 20px;
    margin-top  : 50px;
    margin-right: 50px;
}

.checked {
    color: orange;
}

.menubodysiderating {
    margin-top: 30px;
}

.menubodysideparagraph {
    font-family: 'poppins';
}

.menubodysideparagraph p {
    text-align: justify;
}

.menubodysidequentity {
    display: flex;
}

.menubodysidequentity h4 {
    font-weight  : bold;
    font-size    : 21px;
    font-family  : 'Cooper BT';
    padding-right: 11px;
}

.menubodysidequentity button {
    border          : 2px solid gray;
    border-radius   : 50px;
    padding         : 11px;
    background-color: white;
    margin-right    : 5px;
}

.menubodysidequentity input {
    width       : 50px;
    margin-right: 5px;
    border      : 2px solid #666666;
    text-align  : center;
}

.menubodysideline {
    margin-top: 20px;
}

.menubodysideline div {
    display: flex;
}

.menubodysideline div i {
    margin-top  : 2px;
    margin-right: 2px;
}

.menubodysideline button {
    border        : none;
    padding       : 11px;
    border-radius : 50px;
    text-transform: uppercase;
}

.menubodysideline button:hover {
    color           : white;
    background-color: #b0a171;
}

.menufootertop {
    margin-top: 50px;
}

.menufootertop button {
    margin-right  : 10px;
    border        : none;
    padding       : 11px;
    border-radius : 50px;
    text-transform: uppercase;
}

.menufootertop button:hover {
    color           : white;
    background-color: #b0a171;
}

footer {
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    margin-top      : 50px;
    background-color: #f7f5f1;
}

.menufootertop .line {
    margin-top      : 20px;
    width           : 100%;
    background-color: #80808066;
    height          : 2px;
}

.menufootertop p {
    margin-top : 10px;
    text-align : justify;
    font-family: 'Cooper BT';
    font-weight: bold;
}

#signup .login {
    width         : 40%;
    margin-right  : 54px;
    border-radius : 5px;
    box-shadow    : 4px 7px 13px grey;
    border        : 2px solid white;
    display       : flex;
    flex-direction: column;

}

.login input {
    margin-bottom   : 10px;
    outline         : none;
    border          : none;
    padding         : 15px;
    background-color: #f7f5f1;
    width           : 100%;
}

.login button {
    width         : 100%;
    margin-right  : 10px;
    border        : none;
    padding       : 11px;
    border-radius : 50px;
    text-transform: uppercase;
}

.login button:hover {
    color           : white;
    background-color: #b0a171;
}

.login h4 {
    font-size    : 30px;
    text-align   : center;
    margin-bottom: 10px;
}

.login a {
    color          : black;
    margin-top     : 10px;
    text-align     : center;
    text-decoration: underline;
    margin-bottom  : 10px;
}

.signup {
    width: 40%;
}

.signup label {
    margin: 0px 4px;
    color : #b0a171;
}

.signup select {
    margin-bottom   : 10px;
    outline         : none;
    border          : none;
    padding         : 15px;
    background-color: #f7f5f1;
    width           : 80%;
    margin-left     : 31px;

}

.signup button {
    margin-bottom: 20px;
}

.signup .check {
    font-family    : 'poppins';
    display        : flex;
    justify-content: center;
}

.signup .check input {
    width  : 10%;
    padding: 2px;
}

.check a {
    text-decoration: none;
    margin-left    : 5px;
    margin-top     : 0;
    color          : #b0a171;
}

.cart-body-header {
    display        : flex;
    justify-content: space-around;
}

.cart-body-header .cart-body-header-h4 {
    width: 30%;
}

.cart-body-1 {
    display: flex;

    margin-top : 25px;
    margin-left: 57px;
}

.cart-body-sec1 {
    display: flex;

    align-items: center;
}

.cart-body-sec1 img {
    width: 100px;

}

.cart-body-sec1 p {
    margin-left: 20px;
}

.cart-body-sec2 {
    color          : #b0a171;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    text-align     : center;
    margin-left    : 12px;
}

.cart-body-line {
    display        : flex;
    justify-content: flex-end;
}

.cart-body-line .line {
    margin-top      : 30px;
    width           : 94%;
    background-color: #80808066;
    height          : 2px;
}

.cart-body-sec3 {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    margin-left    : 20px;
}

.cart-body-sec3 div {
    display        : flex;
    justify-content: center;
}

.cart-body-sec3 div input {
    width           : 20%;
    background-color: #8080803b;
    border          : none;
    text-align      : center;
}

.cart-body-sec3 div .minus {
    border          : none;
    background-color: #8080803b;
    padding         : 6px 8px;
    border-radius   : 5px 0px 0px 5px;
}

.cart-body-sec3 div .plus {
    border          : none;
    background-color: #8080803b;
    padding         : 6px 8px;
    border-radius   : 0px 5px 5px 0px;
}

.cart-body-sec4 {
    color          : #b0a171;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.cart-body-sec4 button {
    border          : none;
    background-color: white;
    margin-left     : 40px;
}

.cart-body-footer {
    display        : flex;
    margin-top     : 20px;
    justify-content: space-between;
    margin-left    : 64px;
}

.cart-body-footer button {
    margin-right  : 63px;
    border        : none;
    padding       : 11px;
    border-radius : 50px;
    text-transform: uppercase;
    margin-left   : -15px;
}

.cart-body-footer .cart-body-footer-shop:hover {
    color           : white;
    background-color: #b0a171;
}

.cart-body-footer .cart-body-footer-update {
    color: #b0a171;
}
.cart-quentity
{
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #b0a171;
    display: flex;
    color:white;
    font-weight: 400;
    top: 0;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.check-out-header {
    display         : flex;
    justify-content : space-around;
    padding-bottom  : 41px;
    background-color: #b0a171;
    border-radius   : 10px;

}

.check-out-header .cart-body-header-h4 {
    margin-left: -88px;
    width      : 10%;
}

.check-out-header .heading {
    color: black;
}

.check-out-body-1 {
    border       : 2px solid #cbcbcb;
    padding      : 5px 1px;
    border-radius: 10px;
    margin-left  : 0px;
}

.check-out-body-1 .cart-body-sec1 img {
    border-radius: 10px
}

.check-out-body-1 .cart-body-sec1 div h5 {
    font-weight: bold;
    color      : #b0a171;
    font-family: "Cooper BT";
    margin-left: 20px;
}

.check-out-body-1 .cart-body-sec1 div .heading-body {
    font-weight: bold;
    color      : #666666;
    font-family: "Cooper BT";
    margin-left: 20px;
}

.check-out-body-1 .cart-body-sec3 {
    margin-left: 0px;
}

.check-out-body-1 .cart-body-sec2 {
    justify-content: center;
    margin-left    : 12px;
}

.check-out-footer {
    background-color: #b0a171;
    border-radius   : 10px;
    padding         : 52px;
}

.check-out-footer-body h4 {
    font-weight: bold;
    font-size  : 23px;
}

.check-out-footer-body h5 {
    font-weight: bold;

}

.check-out-footer-body p {
    padding: 20px 0px;
}

.check-out-footer-body div {
    padding-top: 10px;
}

.check-out-footer-body div input {
    border          : none;
    padding         : 7px;
    border-radius   : 5px;
    background-color: #c6c0c6;
    outline         : none;
}

.check-out-footer-body div button {
    padding         : 7px 19px;
    border-radius   : 6px;
    border          : none;
    margin-left     : 10px;
    background-color: #c39c22;
}

.check-out-footer-body-1 {
    margin-top: 20px;
}

.check-out-footer-body-1 div {
    justify-content: space-between;
    display        : flex;
    align-items    : center;
}

.checkout-footer-body-line {
    width           : 100%;
    background-color: #80808066;
    height          : 2px;
}

footer p {
    padding-top   : 50px;
    font-size     : 16px;
    letter-spacing: -1px;
    line-height   : 6px;
    color         : #666666;
    font-weight   : 400;
    font-family   : "Poppins";
}

footer #line {
    margin-top      : 50px;
    width           : 80%;
    background-color: black;
    height          : 2px;
}

#footernav {
    margin-top: 20px;
}

#footernav ul {
    list-style : none;
    display    : flex;
    padding    : 7px;
    text-align : center;
    align-items: center;
    font-size  : 5px;
}

#footernav ul li a {
    font-size      : 12px;
    text-decoration: none;
    color          : black;
    padding        : 10px 20px;
    font-family    : 'Poppins';
    text-transform : uppercase;
}

#Socialicons {
    display      : flex;
    margin-bottom: 50px;
}

#Socialicons #twitter,
#linkdin {
    color           : white;
    border-radius   : 31px;
    padding         : 15px;
    font-size       : 18px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #666666;

}

#facebook {
    width           : 47px;
    margin          : 0px 25px;
    color           : white;
    border-radius   : 31px;
    padding         : 15px;
    font-size       : 18px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: blue;
}

/* Admin Dashboard Css */
.circle-tile {
    margin-bottom: 15px;
    text-align   : center;
}

.circle-tile-heading {
    border       : 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color        : #FFFFFF;
    height       : 80px;
    margin       : 0 auto -40px;
    position     : relative;
    transition   : all 0.3s ease-in-out 0s;
    width        : 80px;
}

.dark-blue {
    background-color: #b0a171;
}

.circle-tile-content {
    padding-top: 50px;
}

.text-faded {
    color: rgb(255, 255, 255);
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-number {
    font-size  : 26px;
    font-weight: 700;
    line-height: 1;
    padding    : 5px 0 15px;
}

.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color           : rgba(255, 255, 255, 0.5);
    display         : block;
    padding         : 5px;
    transition      : all 0.3s ease-in-out 0s;
    height          : 30px;
}

.dashboard_boxes {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
}

.starbutton {
    background-color: white;
    border          : none;
    outline         : none;

    padding: 0;
}

#myPlot {
    width: 100%;
}
.forgetpass{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 630px) {
    #divimg img {
        height: 500px;
        width : 300px;
    }

    #CategoryEmail input {
        width        : 500px;
        margin-bottom: 6px;
    }

    .cart-body-sec2 {

        margin-left: 0px;
    }

    .cart-body-sec1 img {
        width: 84px;
    }
}

@media only screen and (max-width: 1042px) {
    #divimg img {
        height: 500px;
        width : 300px;
    }

    #CategoryEmail input {
        display       : flex;
        flex-direction: column;
    }

    .contact #CategoryEmail #message {
        display       : flex;
        flex-direction: column;
        width         : 300px;
    }

    .cart-body-header .cart-body-header-h4 {
        width: 20%;
    }

    .cart-body-1 {

        margin-left: 33px;
    }

    .check-out-body-1 {
        margin-left: 0px;
    }

    .check-out-header .cart-body-header-h4 {

        width: 10%;
    }

    .cart-body-sec4 button {

        margin-left: 26px;
    }

    .cart-body-sec3 {
        margin-left: 0;
    }

    .cart-body-sec3 div .minus {

        padding: 6px 3px;

    }

    .cart-body-sec3 div .plus {

        padding: 6px 3px;

    }

    .cart-body-sec3 div input {
        width: 31%;

    }
}



@media only screen and (max-width: 557px) {
    #cover {
        height: 600px;
    }

    .h1 {
        font-size: 50px;
    }
    #signup .forgetpass
    {
        width        : 100%;
        margin-bottom: 20px;
        margin-right : 0;
        font-size: 13px;
    } 
    #signup .login {
        width        : 100%;
        margin-bottom: 20px;
        margin-right : -19px;
    }

    .signup select {
        width      : 80%;
        margin-left: 0;

    }

    #signup {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }


    .nav-block {
        display: none;
    }

    .nav {
        display: block;
    }

    .productCategory {
        width: 100%;
    }

    .productCategory a {
        padding: 10px 18px;
    }

    .menufootertop button {
        margin-top: 10px;
    }

    .menu .menu-button {
        cursor   : pointer;
        display  : flex;
        position : absolute;
        top      : 30px;
        right    : 0;
        font-size: 24px;
    }

    #CategoryEmail input {
        display: flex;

    }

    .contact #CategoryEmail #message {
        display       : flex;
        flex-direction: column;
        width         : 100%;
    }

    #nav2 ul li a {
        font-size: 10px;
        padding  : 10px 18px;
    }

    #CategoryBody div img {
        width: 339px;
    }

    #divimg #img_div {
        width: 60%;
    }

    #CategoryEmail input {
        width: 300px;
    }

    .contact #CategoryEmail input {
        width: 100%;
    }

    #footernav ul li a {
        font-size: 11px;
    }

    .heading {
        text-align: center;
    }

    .h1body {
        text-align: center;
    }

    .cart-body-sec1 {
        flex-direction: column;
    }

    .cart-body-header .cart-body-header-h4 {
        width: 16%;
    }

    /* .cart-body-sec2
{
    width: 65px;

} */
    .cart-body-sec1 {
        margin-left: 0px;
    }

    .cart-body-sec1 p {
        margin-left: 10px;
    }

    .cart-body-1 {
        margin-left: 0;
    }

    .cart-body-sec4 button {
        margin-left: 0px;
    }

    .cart-body-line {

        justify-content: flex-start;
    }

    .cart-body-line .line {

        width: 100%;

    }

    .cart-body-header .cart-body-header-h4 {
        margin-left: -15px;
    }

    .cart-body-sec3 div {
        margin-left : -30px;
        margin-right: -30px;
    }

    .cart-body-sec1 img {
        width: 60px;
    }

    .cart-body-footer {

        margin-left: 0px;
    }

    .cart-body-footer button {
        margin-right: 0px;

    }

    .check-out-header .cart-body-header-h4 {
        width: 10%;
    }

    .check-out-header .cart-body-header-h4 {
        margin-left: -30px;
    }

    .check-out-header .heading-checkout {
        margin-right: -22px;
    }

    .check-out-body-1 .cart-body-sec1 {
        margin-left: -10px;
    }

    .check-out-body-1 .cart-body-sec1 div h5 {
        margin-left: 10px;
    }

    .check-out-body-1 .cart-body-sec1 div .heading-body {
        margin-left: 10px;
    }
}